*{
    margin: 0;
}


.tab{
    width: 100%;
    min-height: auto; 
}

th, td{
    border: 2px solid black;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
    background-color: rgb(0, 0, 0);
    color: white;
}

.forms{
    display: flex;
}

form{
    border-radius: 9px;
    margin: auto;
    display: grid;
    width: 30%;
}

.btn{ 
    margin-left: 140px;
    width: 40%;
    height: 40px;
    background-color: rgb(147, 147, 245);
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
}